<li>
	{{burger_name}}



	<button class="change-sleep" data-id="{{id}}" data-newsleep="{{devoured}}">
		{{#if devoured}}Time to Eat! {{else}} <button disabled class="foo" disabled>Yummy!</button> {{/if}}


	</button>



	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
